{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>My Blog</title>
</head>
<body>

<header>
  <h1> <a href="">My Personal Blog</a> </h1>
</header>
<div class="container">
{% block content %}
    <div class="details">
    <h2>{{ article.title }}</h2>
    <p>{{ article.body }}</p>
    </div>
{% endblock content %}
</div>

</body>
</html>
