{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


  <title>My Blog</title>
</head>
<body>

<header>
 <!-- Image and text -->
        <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD14Bf5zyAaWjovkyJiF61NT9kWFj7z8Gfig&usqp=CAU" width="30" height="30" class="d-inline-block align-top" alt="">
      My Blog
        </a>
        </nav></header>
<div class="container">
{% block content %}
    {% for i in object_list %}
        <div class="article">
        <h3><a href="{% url 'detail' i.pk %}">{{ i.title }}</a></h3>
        <p>{{ i.body }}</p>

        </div>
    {% endfor %}
{% endblock content %}
</div>

</body>
</html>
