{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


  <title>My Blog</title>
</head>
<body>

<header>
  <h1> <a href="">My Personal Blog</a> </h1>
</header>
<div class="container">


{% if user.is_authenticated %}
<p>You are logged in!</p>
<p>Hey there, {{user.username}}</p>
<p>You can <a href="{% url 'logout' %}"> Logout </a> here.</p>

{% else %}
<p>Please <a href="{% url 'login' %}">Login</a> here.</p>

{% endif %}

{% block content %}
    {% for i in object_list %}
        <div class="article">
        <h3><a href="{% url 'detail' i.pk %}">{{ i.title }}</a></h3>
        <p>{{ i.body }}</p>

        </div>
    {% endfor %}
{% endblock content %}
</div>

</body>
</html>
